* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn_primary {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 21px 26px;
    border: 0;
    border-radius: 5px;
}

/* header style start */
header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 216px 230px 166px 653px;
}

.header_content {
    text-align: right;
    color: #FFFFFF;
}

.header_title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}

.header_description {
    margin-top: 24px;
    margin-bottom: 32px;
}

/* header style end */
/* main style start */
main {
    margin: 0 230px;
}

.section_title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

/* main style end */
/* failures section style start */
.failures_container {
    margin: 130px 0;
    display: flex;
    gap: 87px;
    justify-content: space-between;
    align-items: center;
}
.failures_image img{
    width: 100%;
}
.failures_text{
    width: 416px;
}
.failures_description{
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}
.failures_text ul{
    list-style: none;
}
.failures_text ul li{
    color: #444343;
    margin-bottom: 8px;

}

/* failures section style end */